@charset 'UTF-8';

body{
    background-color: rgb(178, 241, 241);
    font-family: sans-serif;
}

h1{
    color: rgb(3, 98, 98);
}

h1#principal{
    text-align: center;
    background-color: aqua;
}

h2{
    color: rgb(46, 114, 114);
}

.bas{
    color: rgb(137, 68, 68);
}

.inter{
    color: rgb(74, 74, 148);
}

.avan{
    color: rgb(67, 137, 67);
}